.header {
    height: 90px;
}

.logo {
    position: absolute;
    left: 40px;
    display: block;
    
}

.search-box {
    margin: 46px auto;
    width: 40%;
    max-width: 700px;
}

.container-1 {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    
}

.container-1 input#search {
    width: 100%;
    height: 36px;
    background: rgba(255, 255, 255, 0.78);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.47);
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.57);
    text-transform: uppercase;
    float: left;
    padding-left: 25px;
}

.container-1 input#search:focus, .container-1 input#search:hover {
    outline: none;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.47);
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.47);
    background: #fff;
    color: #333;
}

.container-1 .icon{
    position: absolute;
    vertical-align: center;
    margin-left: 10px;
    margin-top: 8px;
    z-index: 1;
    color: rgba(51, 51, 51, 0.57);
    font-size: 14px;
}

.main {
    background-color: #fff;
    min-height: 609px;
    margin-left: -8px;
    margin-right: -8px;
    color: #333;
    
}

.main-column {
    width: 65%;
    padding-top: 40px;
    margin: auto;
}

.beer-logo {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    
}

.beer-info {
    display: inline-block;
    margin-top: -25px
}

.beer-title {
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 22px;
}

.brewery {
    font-weight: 400;
    font-size: 15px;
    margin-top: -20px;
}

.attribute-value {
    display: inline;
    font-size: 14px;
    font-weight: 700;
}

.attribute {
    margin-right: 5px;
    
}

.value {
    color: #8C5800;
}

.main-column p {
    font-size: 17px;
    line-height: 28px;
    text-indent: 25px
}

.brewery-description h3 {
    font-family: Montserrat;
    color: #8C5800;
    font-size: 20px;
    padding-top: 30px;
    text-transform: uppercase;
}

footer{
    height: auto;
    position: absolute;
	bottom: 0;
	left:0;
    font-size: 12px;
    width: 100%;
    padding: 10px 20px 5px 20px;
    background-image: url(../assets/images/knowyourbeer-background.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    
    .header {
        height: 110px;
}
    .logo {
        display: block;
        position: relative;
        text-align: center;
        left: 0px;
        top: 5px
    }
    .search-box {
        width: 90%;
        margin: 20px auto;    
    }
    
    .main-column {
        width: 90%
    }
    
    .footer-logo {
        display: none;
    }
    
    footer p {
        width: 49%;
    }
    
    .footer-links {
        width: 50%;
        text-align: right;
    }
}

@media (max-width: 414px) {
    .main-container {
        width: 95%;
    }

    .beer-info {
        width: 72%
    }
    
    .beer-logo {
        display: inline-block;
        margin-top: -10px;
    }
    .beer-title {
        font-size: 14px;
    }
    .brewery {
        margin-top: -10px;
        font-size: 13px;
        margin-bottom: 0px
    }
    .attribute-value {
        font-size: 12px;
    }
        