<div class="brewery-beers" ng-controller="BreweryBeersCtrl">
    <div class="beer-card">
        <div class="beer-logo">
            <img src={{beerLogo}} alt="{{beerTitle}} logo">
        </div>
        <div class="beer-info">
            <h3 class="beer-title">{{ beerTitle }}</h3>
            <div class="attribute-value"><span class="attribute">Style:</span><span class="value">IPA</span></div>
            <div class="attribute-value"><span class="attribute">BA Score:</span><span class="value">4.3 / 5</span></div>
            <div class="attribute-value"><span class="attribute">ABV</span><span class="value">8%</span></div>
        </div>
    </div>
</div>