    <nav class="header"> <!--Logo and Tagline -->
        <a href="/" class="logo-secondary">
            <img src="/assets/images/footer-logo.png" alt="Know Your Beer Logo">
        </a>
        <div class="search-box-secondary"> <!--Search Bar -->
            <div class="search-container-secondary">
                <input type="search" id="search" placeholder="Search beer or brewery" />
                <button class="icon"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </nav>
    <section class="main">
        <div class="main-column brewery">
            <div class="brewery-logo">
                <img src={{brewery.images.squareMedium}} alt="{{brewery.name}} logo">
            </div>
            <div class="brewery-info">
                
                <h3 class="brewery-title">{{ brewery.name }}</h3>
                <h4 class="location">{{ breweryCity }}, {{ breweryState}} | {{ breweryCountry }}</h4>
                <h4 class="website"><a href="{{brewery.website}}">{{ brewery.website }}</a></h4>
                
                </div>
            <div>
                <p>{{ brewery.description }}</p>
            </div>
        </div>
    </section>
    <section class="beer-listing">
        
        <h3 class="beers-by-brewery">Beers by {{ brewery.name }}</h3>
        
        <ng-include src="'/templates/brewery-beers.html'"></ng-include>
        
    </section>
    <footer class="footer-secondary">
        <p>Copyright Matt Fitch 2016</p> 
        <div class="footer-secondary-links">
            <a href="/about">About Us</a>
            |
            <a href="/contact">Contact Us</a>
        </div>
        <a href="index.html" class="footer-secondary-logo">
            <img src="/assets/images/footer-logo.png" alt="Know Your Beer FooterImage">
        </a>
    </footer>