<div class="main-body">
<nav class="logo-tagline"> <!--Logo and Tagline -->
    <a ui-sref="landing" class="logo">
        <img src="assets/images/know-your-beer-logo.png" alt="Know Your Beer Logo">
    </a>
    <h2 class="tagline">The Online Beer Encyclopedia</h2>
</nav>
<section class="search-box"> <!--Search Bar -->
    <div class="search-container">
        <ng-include src="'/templates/search-bar.html'"></ng-include>
    </div>
</section>
<footer>
    <p>Copyright Matt Fitch 2016</p> 
    <div class="footer-links">
        <a ui-sref="about-us">About Us</a>
        |
        <a href="/contact">Contact Us</a>
    </div>
    <a ui-sref="landing" class="footer-logo">
        <img src="assets/images/brewery-db.png" alt="breweryDB logo">
    </a>
</footer>
</div>